<div class="regular-post">
    <div class="post-content"></div>
    <div class="post-button">
        <button type="button" class="btn btn-primary btn-sm" type="button">LISTEN</button>
        <button type="button" class="btn btn-info btn-sm" type="button">TRANSLATE</button>
    </div>
</div>